@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.form,
.list_component {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid;
    background: #00A4E5;
    border-radius: 10px;
}
.list {
    margin: 0;
    padding: 0;
}
.list_component {
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
.list_component_text {
    flex-grow: 1;
    padding-left: 10px;
    text-align: left;
}